html {
  overflow: hidden;
}

body { 
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191818;
}

p {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
}